<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tiempo.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Tiempo.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <userSettings>
    <Tiempo.Service.Properties.Settings>
      <setting name="WeatherCacheTimeout" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="WeatherCacheSize" serializeAs="String">
        <value>256</value>
      </setting>
      <setting name="Units" serializeAs="String">
        <value>metric</value>
      </setting>
      <setting name="Schedule" serializeAs="String">
        <value>C:\Users\Jason\Develop\x10d\branches\tiempo\config\defiant.xml</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>2505922</value>
      </setting>
      <setting name="WeatherCacheEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </Tiempo.Service.Properties.Settings>
  </userSettings>

  <applicationSettings>
    <Tiempo.Service.Properties.Settings>
      <setting name="XoapPartnerID" serializeAs="String">
        <value>1000457173</value>
      </setting>
      <setting name="XoapPartnerKey" serializeAs="String">
        <value>ce31bf38808de0fe</value>
      </setting>
    </Tiempo.Service.Properties.Settings>
  </applicationSettings>

  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
